<div class="users-count">
    <span data-users-count><%=total_users%></span> total users
</div>
<h1>Choose your team</h1>

<div class="team-container" data-team-container>

</div>

<a href="#" data-game-action="add-team" class="btn-add-team">
    <i class="icon-plus-circled"></i> Add team
</a>