<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/jqueryMobile.css" />

    <link rel="stylesheet" href="/css/icons/icons.css">
    <link rel="stylesheet" href="/css/icons/animation.css"><!--[if IE 7]>

    <!-- <link href='http://fonts.googleapis.com/css?family=Milonga' rel='stylesheet' type='text/css'> -->
</head>
<body>
<div data-role="page" id="main_page">
    <div class="content wrapper" data-content>



        <div class="logo">
            BoardBerry.me
        </div>

        {#<h1 class="choose-game-title">Выберите игру:</h1>#}

        <div class="game-item">
            <a href="/alias" data-game="alias">
                <img src="img/logos/alias.png" alt="Alias">
            </a>
        </div>

        <div class="game-item disabled">
            <img src="img/logos/monopoly.png" alt="Monopoly">
        </div>

        <div class="game-item disabled">
            <img src="img/logos/dixit.png" alt="Dixit">
        </div>

        {#<a href="#" class="request-link">
            Напишите нам о своей любимой игре и мы постараемся её добавить!
        </a>#}

        <div class="top-links">
            {#<a href="#">
                Что это?
            </a>#}

            <a href="mailto: dev@lingualeo.com">
                Написать разработчику
            </a>

            <a href="#">
                Добавить новую игру
            </a>
        </div>
    </div>

    <div class="footer">
        <div class="copyright">&copy; 2013 BoardBerry.me</div>
    </div>

</div>

<script src="js/lib/jquery.js"></script>
<script src="js/lib/jquery-mobile.js"></script>

<!-- <script src="jsTemplates.php?module=main"></script> -->
</body>
</html>
