<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/jqueryMobile.css" />

    <link rel="stylesheet" href="/css/icons/icons.css">
    <link rel="stylesheet" href="/css/icons/animation.css"><!--[if IE 7]>

    <!-- <link href='http://fonts.googleapis.com/css?family=Milonga' rel='stylesheet' type='text/css'> -->
</head>
<body>
<div data-role="page" id="main_page">
    <div class="wrapper ui-content" data-role="content" role="main">
        <div data-time-container="" class="time-container">00:00:00</div>
        <div data-time-progress="" class="time-progress">
            <div class="time-progress-bar" data-time-progress-bar="" style="width: 100%;"></div>
        </div>
        <div data-word-container="" class="word-container">
            <div data-word-text class="inner-word">Пассажир</div>
        </div>
        <div class="controls-container">
            <div class="control">
                <a data-skip-btn="" class="btn-word-skip btn ui-btn" href=""><i class="icon-left"></i>Пропустить</a>
                <a data-answer-btn="" class="btn-word-skip btn btn-blue ui-btn" href="">Отгадал <i class="icon-right"></i></a>


                <span class="words-count fleft red" data-skipped-count="">-1</span>
                <span class="words-count fright green" data-answered-count="">+5</span>
            </div>
        </div>
    </div>
</div>

<script src="js/lib/jquery.js"></script>
<script src="js/lib/jquery-mobile.js"></script>

<!-- <script src="jsTemplates.php?module=main"></script> -->
</body>
</html>
