body {
    background: url(../img/background.jpg);
    text-align: center;
    color: white;
    font-family: "Noto Sans", Helvetica, Arial;
}

h1 {
    font-size: 24px;
}

.ui-mobile-viewport {
    margin: 0 auto;
}

.font12 {
    font-size: 12px;
}

ul {
    padding: 0;
    margin: 0;
}
ul li {
    list-style: none;
}

.btn {
    display: inline-block;
    padding: 5px;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    border: 0;
}

.btn-blue {
    background-color: #5FB2D9;
    box-shadow: 0 3px #4F95B6;
}
.btn-blue:hover {
    background-color: #64BCE5;
}
.btn-blue:active {
    background-color: #5CACD2;
    box-shadow: 0 2px #4F95B6, -2px 2px 2px #4F95B6 inset;
}

.wrapper {
    max-width: 320px;
    width: auto;
    margin: 0 auto;
}

.ui-header {
    min-height: 40px;
}

.logo {
    font-family: Milonga, Helvetica, Arial;
    color: white;
    font-size: 40px;
    text-decoration: none;
    margin-bottom: 55px;
    position: relative;
    z-index: 5;
    opacity: 0.5;
}

    .logo .icon-reply {
        display: none;
    }

    .logo.small {
        font-size: 12.5px;
    }

    .logo.small .icon-reply {
        display: inline-block;
    }

.choose-game-title {
    margin-top: 20px;
}

.top-links {
    margin: 30px 0 10px;
}

.top-links a {
    display: inline-block;
    margin: 0 8px;
    color: white;
    font-size: 11px;
}


.game-item {
    min-height: 110px;
    width: 250px;
    margin: 0 auto 20px auto;
    position: relative;
}

.game-item.disabled img {
    opacity: 0.4;
}

.game-item.disabled:after {
    content: 'Coming soon!';
    display: inline-block;
    position: absolute;
    /* Safari */
    -webkit-transform: rotate(35deg);
    right: -25px;
    top: 15px;
    background: orange;
    padding: 1px 6px;
    border-radius: 10px;
    font-size: 12px;
}


.request-link {
    font-size: 18px;
    color: white;
    margin: 10px 0;
}


a {
    color: white;
}









/**

**/

.team-item {
    display: block;
    min-height: 50px;
    padding: 10px;
    margin: 15px 0;
    border-radius: 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
    .team-item img {
        margin: 5px;
        width: 50px;
        height: 50px;
    }

    .team-item-0 {
        background-image: -webkit-linear-gradient(#08c,#04c);
        background-image: linear-gradient(#08c,#04c);
    }
    .team-item-1 {
        background-image: -webkit-linear-gradient(#ee5f5b,#bd362f);
        background-image: linear-gradient(#ee5f5b,#bd362f);
    }
    .team-item-2 {
        background-image: -webkit-linear-gradient(#62c462,#51a351);
        background-image: linear-gradient(#62c462,#51a351);
    }

    .team-item-4 {
        background-image: -webkit-linear-gradient(#5bc0de,#2f96b4);
        background-image: linear-gradient(#5bc0de,#2f96b4);
    }
    .team-item-3 {
        background-image: -webkit-linear-gradient(#fbb450,#f89406);
        background-image: linear-gradient(#fbb450,#f89406);
    }
    .team-item-5 {
        background-image: -webkit-linear-gradient(#08c,#04c);
        background-image: linear-gradient(#08c,#04c);
    }
    .team-item-6 {
        background-image: -webkit-linear-gradient(#5bc0de,#2f96b4);
        background-image: linear-gradient(#5bc0de,#2f96b4);
    }
    .team-item-7 {
        background-image: -webkit-linear-gradient(#62c462,#51a351);
        background-image: linear-gradient(#62c462,#51a351);
    }
    .team-item-8 {
        background-image: -webkit-linear-gradient(#fbb450,#f89406);
        background-image: linear-gradient(#fbb450,#f89406);
    }
    .team-item-9 {
        background-image: -webkit-linear-gradient(#fbb450,#f89406);
        background-image: linear-gradient(#fbb450,#f89406);
    }

.result-item {
    text-align: left;
    padding: 5px;
    margin: 5px 0;
}

    .result-item .icon-thumbs-up {
        color: green;
        display: none;
        float: right;
    }
    .result-item .icon-thumbs-down {
        color: red;
        float: right;
    }

    .result-item.correct .icon-thumbs-down {
        display: none;
    }
    .result-item.correct .icon-thumbs-up {
        display: inline-block;
    }

    .copyright {font-size: 10px;}


.choose-mode {
    padding-top: 80px;
}

    .choose-mode li {
        padding-bottom: 15px;
    }
    .choose-mode a {
        width: 140px;
    }


.room-link-container {
    padding-top: 20px;
}