body {
    background: url(../img/background.jpg);
    text-align: center;
    color: white;
    font-family: "Noto Sans", Helvetica, Arial;
}

h1 {
    font-size: 24px;
}

div[data-role='page'] {
    background: url(../img/background.jpg);
}

.ui-mobile-viewport {
    margin: 0 auto;
}

.ui-content {
    padding: 15px 0 !important;
}


ul {
    padding: 0;
    margin: 0;
}
ul li {
    list-style: none;
}

.btn {
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
    padding: 5px;
    background: #E7E7E7;
    box-shadow: 0 1px #FFFFFF inset, 1px 0 #F7F7F7 inset, -1px 0 #F7F7F7 inset,
    0 -1px #F1F1F1 inset, 0 3px #ccc;
    color: #333;
}

.btn:hover {
    background: #eee;
}

.btn-blue {
    background-color: #5FB2D9;
    box-shadow: 0 3px #4F95B6;
    color: #fff;
    text-shadow: none;
}
.btn-blue:hover {
    background-color: #64BCE5;
}
.btn-blue:active {
    background-color: #5CACD2;
    box-shadow: 0 2px #4F95B6, -2px 2px 2px #4F95B6 inset;
}

.green {
    color: #4FB378;
}
.red {
    color: #D9584C;
}

.wrapper {
    max-width: 320px;
    width: auto;
    margin: 0 auto;
}

.ui-header {
    min-height: 40px;
}

.logo {
    font-family: Milonga, Helvetica, Arial;
    color: white;
    font-size: 40px;
    text-decoration: none;
    margin-bottom: 55px;
    position: relative;
    z-index: 5;
}

    .logo .icon-reply {
        display: none;
    }

    .logo.small {
        font-size: 12.5px;
    }

    .logo.small .icon-reply {
        display: inline-block;
    }

.choose-game-title {
    margin-top: 20px;
}

.top-links {
    margin: 30px 0 10px;
}

.top-links a {
    display: inline-block;
    margin: 0 8px;
    color: white;
    font-size: 11px;
}

.fleft {
    float: left;
}
.fright {
    float: right;
}

.game-item {
    min-height: 110px;
    width: 250px;
    margin: 0 auto 20px auto;
    position: relative;
}

.game-item.disabled img {
    opacity: 0.4;
}

.game-item.disabled:after {
    content: 'Coming soon!';
    display: inline-block;
    position: absolute;
    /* Safari */
    -webkit-transform: rotate(35deg);
    right: -25px;
    top: 15px;
    background: orange;
    padding: 1px 6px;
    border-radius: 10px;
    font-size: 12px;
}


.request-link {
    font-size: 18px;
    color: white;
    margin: 10px 0;
}


a {
    color: white;
}









/**

**/

.team-item {
    margin: 15px 0;
    text-align: left;
}
    .team-item .team-item-add {
        cursor: pointer;
    }
    .team-item .team-item-color {
        height: 60px;
        width: 60px;
        color: #fff;
        font-size: 41px;
        border-radius: 2px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        display: inline-block;
        text-align: center;
        vertical-align: top;
    }
    .team-item img {
        margin: 5px;
        width: 50px;
        height: 50px;
    }

    .team-item-color-0 {
        background-image: -webkit-linear-gradient(#08c,#04c);
        background-image: linear-gradient(#08c,#04c);
    }
    .team-item-color-1 {
        background-image: -webkit-linear-gradient(#ee5f5b,#bd362f);
        background-image: linear-gradient(#ee5f5b,#bd362f);
    }

    .team-item-color-2 {
        background-image: -webkit-linear-gradient(#62c462,#51a351);
        background-image: linear-gradient(#62c462,#51a351);
    }
    .team-item-color-3 {
        background-image: -webkit-linear-gradient(#fbb450,#f89406);
        background-image: linear-gradient(#fbb450,#f89406);
    }
    .team-item-color-4 {
        background-image: -webkit-linear-gradient(#5bc0de,#2f96b4);
        background-image: linear-gradient(#5bc0de,#2f96b4);
    }

    .team-item-color-5 {
        background-image: -webkit-linear-gradient(#08c,#04c);
        background-image: linear-gradient(#08c,#04c);
    }
    .team-item-color-6 {
        background-image: -webkit-linear-gradient(#5bc0de,#2f96b4);
        background-image: linear-gradient(#5bc0de,#2f96b4);
    }
    .team-item-color-7 {
        background-image: -webkit-linear-gradient(#62c462,#51a351);
        background-image: linear-gradient(#62c462,#51a351);
    }
    .team-item-color-8 {
        background-image: -webkit-linear-gradient(#fbb450,#f89406);
        background-image: linear-gradient(#fbb450,#f89406);
    }
    .team-item-color-9 {
        background-image: -webkit-linear-gradient(#fbb450,#f89406);
        background-image: linear-gradient(#fbb450,#f89406);
    }

.result-item {
    text-align: left;
    padding: 5px;
    margin: 5px 0;
}

    .result-item .icon-thumbs-up {
        color: green;
        display: none;
        float: right;
    }
    .result-item .icon-thumbs-down {
        color: red;
        float: right;
    }

    .result-item.correct .icon-thumbs-down {
        display: none;
    }
    .result-item.correct .icon-thumbs-up {
        display: inline-block;
    }

    .copyright {font-size: 10px;}


.choose-mode {
    padding-top: 30px;
}

    .choose-mode li {
        padding-bottom: 55px;
    }
    .choose-mode a {
        width: 170px;
    }

    .choose-mode div.ui-input-text {
        margin: 0 !important;
        float: left;
        padding: 0 !important;
    }

    .input-number {
        background: #FFFFFF !important;
        border-radius: 4px 4px 4px 4px;
        color: #000 !important;
        margin: 0 0 8px !important;
        width: 117px !important;
        display: inline-block !important;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3) inset;
        font-size: 12px !important;
        padding: 9px 3px !important;
    }

.input-number::-moz-placeholder { color: #333 !important; }
.input-number::-webkit-placeholder { color: #333 !important; }


.mode-description {
    font-style: italic;
    font-size: 12px;
    opacity: .7;
    padding-bottom: 5px;
}


.room-link-container {
    padding: 40px 0;
}
.time-progress{
    width: 100%;
    text-align: center;
    height: 15px;
}
.time-progress-bar {
    width: 100%;
    display: inline-block;
    background-color: #faa732;
    background-image: -webkit-linear-gradient(top,#fbb450,#f89406);
    background-image: linear-gradient(to bottom,#fbb450,#f89406);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    height: 13px;
    border-radius: 6px;
}

.user-list {
    padding: 40px 0 40px;
}

.word-container {
    position: relative;
    width: 320px;
    height: 80px;
    background: #f4f3e8;
    left: 0;
    transition: left 0.3s linear;
    /* Safari */
    -webkit-transition: left 0.3s linear;
    -moz-transition: left 0.3s linear;
    -o-transition: left 0.3s linear;
    border-radius: 6px;
    color: #000;
    font-size: 24px;
    margin: 70px 0 0 0;
    text-transform: capitalize;
}
.inner-word {
    display: table-cell;
    vertical-align: middle;
    height: 80px;
    line-height: 25px;
    width: 320px;
}

.control {
    margin: 10px auto 0;
}
.control .btn {
    display: inline-block !important;
    padding: 5px 8px !important;
    width: 107px;
    font-size: 15px;
}

.control .words-count {
    margin-top: 13px;
    width: 29px;
}


.show-charts .panel-icon {
    display: inline-block;
}

.panel-icon {
    display: none;
    width: 22px;
    height: 22px;
    line-height: 22px;
    background: white;
    border-radius: 15px;
    float: right;
    margin: 10px 10px 0 0;
}

    .panel-icon i {
        font-size: 14px;
        color: #5b3528;
    }

.resultsChart {
    width: 320px;
    height: 400px;
}

.winners-list {
    clear: both;
    text-align: left;
    margin-bottom: 20px;
}

    .winners-item {
        margin: 5px 0;
    }

    .winners-item * {
        vertical-align: middle;
        line-height: 50px;
        height: 50px;
    }
