<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/jqueryMobile.css" />

    <link rel="stylesheet" href="/css/icons/icons.css">
    <link rel="stylesheet" href="/css/icons/animation.css"><!--[if IE 7]>

    <!-- <link href='http://fonts.googleapis.com/css?family=Milonga' rel='stylesheet' type='text/css'> -->
</head>
<body>

<div class="wrapper" data-role="header">
    <a href="/" class="logo small">
        <i class="icon-reply"></i> BoardBerry.me
    </a>
</div>

<div data-role="page" id="main_page" data-theme="b">
    <div data-role="content" >

        <a data-game-action="create" href="" class="ui-btn">
            Create game
        </a>

        <a href="" data-game-action="join" class="ui-btn">
            Join existing game
        </a>

        <div class="gold-promo">
            Want to change game time?<br>
            Or you wanna save results?<br>
            <b>Buy Gold status just for $0.99!</b>
            <a href="btn-buy-btn"></a>
        </div>
    </div>
    <div data-role="footer">

    </div>
</div>
<div data-role="page" id="join" data-theme="b" data-view-name="join">
</div>

<div data-role="page" id="teams" data-theme="b" data-view-name="teams">
</div>





<script type="text/javascript" src="http://comet.stas.boardberry.me/?identifier=SCRIPT"></script>

<script src="js/lib/jquery.js"></script>
<script src="js/lib/jquery-mobile.js"></script>
<script src="js/lib/templates.js"></script>
<script src="js/lib/oop.js"></script>
<script src="js/common.js"></script>
<script src="js/alias/classes.js"></script>
<script src="js/alias/alias.js"></script>
<script src="js/facebook.js"></script>

<script type="text/html" id="tplJoin">
    <h1>
        Type your friends' room number
    </h1>

    <input type="text" data-room-id palceholder="Room ID" />

    <a href="" data-game-action="join-room">
        Join
    </a>
</script>

<script type="text/html" id="tplTeams">
    <div data-role="content">
        <div class="users-count" >
            <span data-users-count><%=data.total_users%></span> total users
        </div>
        <h1>Choose your team</h1>
    </div>
    <div class="team-container" data-team-container data-role="content">
        <% data.teams.forEach(function (team, index) { %>
        <div data-team-item="<%=team.id%>" class="team-item-<%=team.id%>" style="background-color: <%=BB.teamColors[team.id]%>">
            <% team.users.forEach(function (user, userIndex) { %>
                <img src="https://graph.facebook.com/<%=user%>/picture?type=square" />
            <% }); %>
        </div>
        <% }); %>
    </div>

    <a href="#" data-game-action="add-team" class="btn-add-team">
        <i class="icon-plus-circled"></i> Add team
    </a>

    <% if (me.id == data.owner) { %>
    <a href="#" data-game-action="game-start" class="btn-start">
        Let's play!
    </a>
    <% } %>
</script>

<script type="text/html" id="tplTurnBegin">
    <h1>
        <img src="https://graph.facebook.com/<%=explain.id%>/picture?type=square" /> <%=explain.name%> explains
    </h1>

    <h2>
        <% guess.forEach(function (index, guessItem) { %>
            <img src="https://graph.facebook.com/<%=guessItem%>/picture?type=square" />
        <% }) %>
        guess
    </h2>

    <% if (explain.id == me.id) %>
        <a data-game-action="turn-start" class="btn-start">
            I'm ready!
        </a>
    <% } %>
</script>

<script type="text/html" id="tplTurnExplain">
    <div class="time-container" data-time-container>
        00:50:67
    </div>

    <div class="word-container" data-word-container>
        00:50:67
    </div>

    <div class="controls-container">
        <div class="control">
            <span data-skipped-count class="words-count">0</span>
            <a href="" class="btn-word-skip">
                <i class="icon-left"></i>Skip
            </a>
        </div>
        <div class="control">
            <span data-answered-count class="words-count">0</span>
            <a href="" class="btn-word-skip">
                Answered <i class="icon-right"></i>
            </a>
        </div>
    </div>
</script>

<script type="text/html" id="tplTurnWait">
    <div class="user-list">
        Currently playing: <br>
        <% team.users.forEach(function (index, teamItem) { %>
            <img src="https://graph.facebook.com/<%=teamItem%>/picture?type=square" />
        <% }) %>
    </div>

    <div class="time-container" data-time-container>
        00:50:67
    </div>
</script>


<script type="text/html" id="tplTurnResult">
    <div class="user-list">
        <% team.users.forEach(function (index, teamItem) { %>
            <img src="https://graph.facebook.com/<%=teamItem%>/picture?type=square" />
        <% }); %>
    </div>

    <div class="turn-results">
        <% results.foreach(function (index, resultItem) { %>
            <div class="result-item <%=resultItem.result%>" data-result-item="<%=resultItem.id%>">
                <span><%=resultItem.text%></span>
                <a href="" data-result-toggle="<%=resultItem.id%>"></a>
            </div>
        <% }); %>
    </div>

    <a data-game-action="turn-finish" class="btn-start">
        All right, go next!
    </a>
</script>

<script type="text/html" id="tplGameResults">

</script>

</body>
</html>
