<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/jqueryMobile.css" />

    <link rel="stylesheet" href="/css/icons/icons.css">
    <link rel="stylesheet" href="/css/icons/animation.css"><!--[if IE 7]>

    <!-- <link href='http://fonts.googleapis.com/css?family=Milonga' rel='stylesheet' type='text/css'> -->
</head>
<body>

<div class="wrapper" data-role="header">
    <a href="/" class="logo small">
        <i class="icon-reply"></i> BoardBerry.me
    </a>
</div>

<div data-role="page" id="main_page" data-theme="b">
    <div data-role="content" class="wrapper">

        <a data-game-action="create" href="" class="ui-btn">
            Создать игру
        </a>

        <a href="" data-game-action="join" class="ui-btn">
            Присоединиться к игре
        </a>

        <!--
        <div class="gold-promo">
            Want to change game time?<br>
            Or you wanna save results?<br>
            <b>Buy Gold status just for $0.99!</b>
            <a href="btn-buy-btn"></a>
        </div>
        -->
    </div>
    <div data-role="footer">

    </div>
</div>
<div data-role="page" id="join" data-theme="b" data-view-name="join">
</div>

<div data-role="page" id="teams" data-theme="b" data-view-name="teams">
</div>

<div data-role="page" id="turn-started" data-theme="b" data-view-name="turn-started">
</div>

<div data-role="page" id="explanation-started" data-theme="b" data-view-name="explanation-started">
</div>

<div data-role="page" id="explanation-finished" data-theme="b" data-view-name="explanation-finished">
</div>

<div data-role="page" id="turn-finished" data-theme="b" data-view-name="turn-finished">
</div>



<script type="text/html" id="tplJoin">
    <div data-role="content" class="wrapper">
        <h1>
            Введите номер игры
        </h1>

        <input type="text" data-room-id palceholder="Room ID" />

        <a href="" data-game-action="join-room">
            Присоединиться
        </a>
    </div>
</script>

<script type="text/html" id="tplTeams">
    <div class="wrapper team-container" data-role="content">
        <div class="room-link-container">
            Ваши друзья могут подключитсья к игре, используя этот номер: <b><%=data.id%></b>
        </div>

        <div class="users-count">
            <span data-players-count><%=(data.player_count || 1)%></span> игроков в игре
        </div>
        <h1>Выберите цвет своей команды</h1>

        <div data-team-container>
            <% data.teams.forEach(function (team, index) { %>
            <div data-team-item="<%=team.id%>" class="team-item team-item-<%=team.id%>">
                <% team.users.forEach(function (user, userIndex) { %>
                    <img src="https://graph.facebook.com/<%=user%>/picture?type=square" data-user-item="<%=user%>" />
                <% }); %>
            </div>
            <% }); %>
        </div>

        <a href="#" data-game-action="add-team" class="ui-btn btn-add-team">
            <i class="icon-plus-circled"></i> Добавить команду
        </a>

        <% if (me.id == data.owner) { %>
            <a href="#" data-game-action="start-game" class="ui-btn btn-start">
                Поехали!
            </a>
        <% } %>
    </div>
</script>

<script type="text/html" id="tplTurnStarted">
    <div data-role="content" class="wrapper">
        <div class="explainer-container">
            <img src="https://graph.facebook.com/<%=explainer.id%>/picture?type=square" /> <%=explainer.name%> объясняет
        </div>

        <div class="user-list">
            <% team.forEach(function (playerItem) {
                if (playerItem.id != explainer.id) { %>
                    <img src="https://graph.facebook.com/<%=playerItem.id%>/picture?type=square" />
                <% }
            }); %>
            угадыает
        </div>

        <% if (explainer.id == me.id) { %>
            <a data-game-action="start-explanation" class="btn-start">
                Я готов!
            </a>
        <% } %>
    </div>
</script>

<script type="text/html" id="tplTurnExplain">
    <div data-role="content" class="wrapper">

        <div class="time-container" data-time-container>
            00:60:99
        </div>

        <div class="word-container" data-word-container>
        </div>

        <div class="controls-container">
            <div class="control">
                <span data-skipped-count class="words-count">0</span>
                <a href="" class="btn-word-skip ui-btn" data-skip-btn>
                    <i class="icon-left"></i>Пропустить
                </a>
            </div>
            <div class="control">
                <span data-answered-count class="words-count">0</span>
                <a href="" class="btn-word-skip ui-btn" data-answer-btn>
                    Отгадал <i class="icon-right"></i>
                </a>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="tplTurnWait">
    <div data-role="content" class="wrapper">
        <div class="explainer-container">
            <img src="https://graph.facebook.com/<%=explainer.id%>/picture?type=square" /> <%=explainer.name%> объясняет
        </div>

        <div class="user-list">
            <% team.forEach(function (playerItem, index) {
                if (playerItem.id != explainer.id) { %>
                    <img src="https://graph.facebook.com/<%=playerItem.id%>/picture?type=square" />
                <% }
            }); %>
            guess
        </div>

        <div class="time-container" data-time-container>
            00:60:99
        </div>
    </div>
</script>


<script type="text/html" id="tplTurnResult">
    <div data-role="content" class="wrapper">
        <div class="user-list">
            <% team.forEach(function (playerItem, index) { %>
                <img src="https://graph.facebook.com/<%=playerItem.id%>/picture?type=square" />
            <% }); %>
        </div>

        <div class="results-description">
            Нажмите на слово, чтобы изменить результат
        </div>

        <div class="turn-results">
            <% words.forEach(function (wordItem, index) { %>
                <div class="result-item <%= (wordItem.result == '1' ? 'correct' : '') %>" data-word-id="<%=wordItem.id%>">
                    <span><%=wordItem.text%></span>
                    <span class="icon-thumbs-up"></span>
                    <span class="icon-thumbs-down"></span>
                </div>
            <% }); %>
        </div>

        <% if (explainer.id == me.id) { %>
        <a data-game-action="save-results" class="ui-btn btn-start">
            Все правильно, идем дальше!
        </a>
        <% } %>
    </div>
</script>

<script type="text/html" id="tplGameResults">
    <table>
        <tbody>
    <% for (var i = 0; i < 50; i++) { %>
        <tr>
            <td>
                <span class="result-position">
                    <%=(i+1)%>
                </span>
            </td>
            <td>
                <% data.forEach(function (dataItem) {
                    if (dataItem.position == i + 1) { %>
                        <div class="team-item team-item-<%=dataItem.id%>">
                            <% teams[dataItem.id].forEach(function (playerItem, index) { %>
                                <img src="https://graph.facebook.com/<%=playerItem.id%>/picture?type=square" />
                            <% }); %>
                        </div>
                    <% } %>
                <% }); %>
            </td>
        </tr>
    <% } %>
        </tbody>
    </table>
</script>


<script src="/js/lib/realplextor.js"></script>

<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/jquery-mobile.js"></script>
<script src="/js/lib/templates.js"></script>
<script src="/js/lib/oop.js"></script>
<script src="/js/common.js"></script>
<script src="/js/alias/classes.js"></script>
<script src="/js/alias/alias.js"></script>
<script src="/js/facebook.js"></script>
<script src="/js/alias/channelHandlers.js"></script>

</body>
</html>
