<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/jqueryMobile.css" />

    <link rel="stylesheet" href="/css/icons/icons.css">
    <link rel="stylesheet" href="/css/icons/animation.css"><!--[if IE 7]>

    <!-- <link href='http://fonts.googleapis.com/css?family=Milonga' rel='stylesheet' type='text/css'> -->
</head>
<body>

<div data-role="page" id="main_page" data-theme="b">
    <div data-role="header" >
        <div class="logo">
            <- BoardBerry.me
        </div>
        <a href="#settings" data-icon="gear" class="ui-btn-right">Options</a>
    </div>
    <div data-role="content" >
        <a data-game-action="create" href="">
            Create game
        </a>

        <br><br>
        <a href="" data-game-action="join">
            Join existing game
        </a>

        <div class="gold-promo">
            Want to change game time?<br>
            Or you wanna save results?<br>
            <b>Buy Gold status just for $0.99!</b>
            <a href="btn-buy-btn">
        </div>
    </div>
    <div data-role="footer">

    </div>
</div>
<div data-role="page" id="join" data-theme="b">
</div>





<script src="js/lib/jquery.js"></script>
<script src="js/lib/jquery-mobile.js"></script>
<script src="js/common.js"></script>
<script src="js/alias/alias.js"></script>
<script src="js/facebook.js"></script>

<script type="text/html" id="alias/join">
    ololol + <%=moreInfo%>
</script>

<script type="text/html" id="alias/teams">
    <div class="users-count">
        <span data-users-count><%=total_users%></span> total users
    </div>
    <h1>Choose your team</h1>

    <div class="team-container" data-team-container>
        <% data.teams.forEach(function (index, team) { ?>
        <div data-team-item="<%=team.id%>" class="team-item-<%=team.id%>" style="background-color: <%=BB.teamColors[team.id]%>">
            <% team.users.forEach(function (userIndex, user) { %>
            <img src="https://graph.facebook.com/<%=user%>/picture?type=square" />
            <% }) %>
        </div>
        <% }) %>
    </div>

    <a href="#" data-game-action="add-team" class="btn-add-team">
        <i class="icon-plus-circled"></i> Add team
    </a>

    <% if (user.id == data.owner) { %>
    <a href="#" data-start-game>
        Let's play!
    </a>
    <% } %>
</script>

</body>
</html>
