<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>BoardBerry</title>

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="viewport" id="vp" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)" />

    <link rel="apple-touch-icon" href="logo.jpg" />
    <link rel="apple-touch-icon" sizes="72x72" href="logo.jpg" />
    <link rel="apple-touch-icon" sizes="114x114" href="logo.jpg" />

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/jqueryMobile.css" />

    <link rel="stylesheet" href="/css/icons/icons.css">
    <link rel="stylesheet" href="/css/icons/animation.css"><!--[if IE 7]>

    <!-- <link href='http://fonts.googleapis.com/css?family=Milonga' rel='stylesheet' type='text/css'> -->
</head>
<body>


<div data-role="page" id="main_page" data-theme="b">
    <div class="wrapper" data-role="header">
        <a href="/" class="logo small">
            BoardBerry.me
        </a>

        <span class="panel-icon" data-toggle-panel>
            <i class="icon-chart-bar"></i>
        </span>
    </div>
    <div data-role="content" class="wrapper">

        <ul class="choose-mode">
            <li>
                <div class="mode-description">
                    Создайте новую игру, <br/>полученный номер дайте друзьям.
                </div>
                <a data-game-action="create" href="" class="btn btn-blue">
                    Создать игру
                </a>
            </li>

            <li>
                <div class="mode-description">
                    Чтобы присоедениться, нужен номер игры.
                </div>

                <input type="text" data-room-id placeholder="Введите номер игры" autofocus="autofocus" class="input-number" />

                <a href="" data-game-action="join" class="btn btn-blue">
                    Присоединиться
                </a>
            </li>
        </ul>


        <!--
        <div class="gold-promo">
            Want to change game time?<br>
            Or you wanna save results?<br>
            <b>Buy Gold status just for $0.99!</b>
            <a href="btn-buy-btn"></a>
        </div>
        -->
    </div>
    <div data-role="footer">

    </div>
</div>
<div data-role="page" id="teams" data-theme="b" data-view-name="teams" data-transition="flip">
</div>

<div data-role="page" id="turn-started" data-theme="b" data-view-name="turn-started">
</div>

<div data-role="page" id="explanation-started" data-theme="b" data-view-name="explanation-started">
</div>

<div data-role="page" id="explanation-finished" data-theme="b" data-view-name="explanation-finished">
</div>

<div data-role="page" id="turn-finished" data-theme="b" data-view-name="turn-finished">
</div>

<div data-role="page" id="game-finished" data-theme="b" data-view-name="game-finished">
</div>

<script type="text/html" id="tplTeams">
    <div class="wrapper" data-role="header">
        <a href="/" class="logo small">
            BoardBerry.me
        </a>

        <span class="panel-icon" data-toggle-panel>
            <i class="icon-chart-bar"></i>
        </span>
    </div>

    <div data-role="panel"  data-custom-panel data-display="push" data-position="right">
        <canvas class="resultsChart"></canvas>
    </div>


    <div class="wrapper team-container" data-role="content">
        <div class="room-link-container">
            Номер игры: <b><%=data.id%></b><br/>
            <span class="mode-description">Дайте номер друзьям, чтобы они присоеденились.</span>
        </div>

        <div class="users-count">
            <span data-players-count><%=(data.player_count || 1)%></span> игроков в игре
        </div>
        <div class="font12">Выберите цвет команды:</div>

        <div data-team-container>
            <% data.teams.forEach(function (team, index) { %>
            <div data-team-item="<%=team.id%>" class="team-item">
                <div class="team-item-add team-item-color team-item-color-<%=team.id%>">+</div>
                <% team.users.forEach(function (user, userIndex) { %>
                    <div class="team-item-color team-item-color-<%=team.id%>" data-user-item="<%=user%>">
                        <img src="https://graph.facebook.com/<%=user%>/picture?type=square" />
                    </div>
                <% }); %>
            </div>
            <% }); %>
        </div>

        <a href="#" data-game-action="add-team" class="ui-btn btn-add-team">
            <i class="icon-plus-circled"></i> Добавить команду
        </a>

        <% if (me.id == data.owner) { %>
            <a href="#" data-game-action="start-game" class="ui-btn btn-start" style="display: none">
                Поехали!
            </a>
        <% } %>
    </div>
</script>

<script type="text/html" id="tplTurnStarted">
    <div class="wrapper" data-role="header">
        <a href="/" class="logo small">
            BoardBerry.me
        </a>

        <span class="panel-icon" data-toggle-panel>
            <i class="icon-chart-bar"></i>
        </span>
    </div>

    <div data-role="panel"  data-custom-panel data-display="push" data-position="right">
        <canvas class="resultsChart"></canvas>
    </div>


    <div data-role="content" class="wrapper">
        <div class="user-list">
            <h3>Угадывают</h3>
            <% team.forEach(function (playerItem) {
                if (playerItem.id != explainer.id) { %>
                    <img src="https://graph.facebook.com/<%=playerItem.id%>/picture?type=square" />
                <% }
            }); %>
        </div>

        <div class="explainer-container">
            <h3>Объясняет<br/><%=explainer.name%></h3>
            <img src="https://graph.facebook.com/<%=explainer.id%>/picture?type=square" />
        </div>

        <% if (explainer.id == me.id) { %>
            <a data-game-action="start-explanation" class="btn-start btn btn-blue">
                Я готов!
            </a>
        <% } %>
    </div>
</script>

<script type="text/html" id="tplTurnExplain">
    <div class="wrapper" data-role="header">
        <a href="/" class="logo small">
            BoardBerry.me
        </a>

        <span class="panel-icon" data-toggle-panel>
            <i class="icon-chart-bar"></i>
        </span>
    </div>

    <div data-role="panel"  data-custom-panel data-display="push" data-position="right">
        <canvas class="resultsChart"></canvas>
    </div>


    <div data-role="content" class="wrapper">

        <div class="time-container" data-time-container>00:60:99</div>

        <div class="time-progress" data-time-progress>
            <div data-time-progress-bar class="time-progress-bar"></div>
        </div>

        <div class="word-container" data-word-container>
            <div data-word-text class="inner-word"></div>
        </div>

        <div class="controls-container">
            <div class="control">
                <a href="" class="btn-word-skip ui-btn btn" data-skip-btn><i class="icon-left"></i>Пропустить</a>
                <a href="" class="btn-word-skip ui-btn btn btn-blue" data-answer-btn>Отгадал <i class="icon-right"></i></a>

                <span data-skipped-count class="words-count fleft red"></span>
                <span data-answered-count class="words-count fright green"></span>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="tplTurnWait">
    <div class="wrapper" data-role="header">
        <a href="/" class="logo small">
            BoardBerry.me
        </a>

        <span class="panel-icon" data-toggle-panel>
            <i class="icon-chart-bar"></i>
        </span>
    </div>

    <div data-role="panel"  data-custom-panel data-display="push" data-position="right">
        <canvas class="resultsChart"></canvas>
    </div>


    <div data-role="content" class="wrapper">
        <div class="explainer-container">
            <img src="https://graph.facebook.com/<%=explainer.id%>/picture?type=square" /> <%=explainer.name%> объясняет
        </div>

        <div class="user-list">
            <% team.forEach(function (playerItem, index) {
                if (playerItem.id != explainer.id) { %>
                    <img src="https://graph.facebook.com/<%=playerItem.id%>/picture?type=square" />
                <% }
            }); %>
            guess
        </div>

        <div class="time-container" data-time-container>
            00:60:99
        </div>
    </div>
</script>


<script type="text/html" id="tplTurnResult">
    <div class="wrapper" data-role="header">
        <a href="/" class="logo small">
            BoardBerry.me
        </a>

        <span class="panel-icon" data-toggle-panel>
            <i class="icon-chart-bar"></i>
        </span>
    </div>

    <div data-role="panel"  data-custom-panel data-display="push" data-position="right">
        <canvas class="resultsChart"></canvas>
    </div>

    <div data-role="content" class="wrapper">
        <div class="user-list">
            <% team.forEach(function (playerItem, index) { %>
                <img src="https://graph.facebook.com/<%=playerItem.id%>/picture?type=square" />
            <% }); %>
        </div>

        <div class="results-description">
            Нажмите на слово, чтобы изменить результат
        </div>

        <div class="turn-results">
            <% words.forEach(function (wordItem, index) { %>
                <div class="result-item <%= (wordItem.result == '1' ? 'correct' : '') %>" data-word-id="<%=wordItem.id%>">
                    <span><%=wordItem.text%></span>
                    <span class="icon-thumbs-up"></span>
                    <span class="icon-thumbs-down"></span>
                </div>
            <% }); %>
        </div>

        <% if (explainer.id == me.id) { %>
        <a data-game-action="save-results" class="ui-btn btn-start">
            Все правильно, идем дальше!
        </a>
        <% } %>
    </div>
</script>

<script type="text/html" id="tplTurnFinished">
    <div class="wrapper" data-role="header">
        <a href="/" class="logo small">
            BoardBerry.me
        </a>

        <span class="panel-icon" data-toggle-panel>
            <i class="icon-chart-bar"></i>
        </span>
    </div>

    <div data-role="panel"  data-custom-panel data-display="push" data-position="right">
        <canvas class="resultsChart"></canvas>
    </div>

    <div data-role="content" class="wrapper">
        <% if (me.id == explainer.id) { %>
        <a href="#" data-game-action="next-turn" class="ui-btn btn-start">
            Следующий ход
        </a>
        <% } %>

        <canvas class="resultsChart"></canvas>
    </div>
</script>

<script type="text/html" id="tplGameFinished">
    <div class="wrapper" data-role="header">
        <a href="/" class="logo small">
            BoardBerry.me
        </a>

        <span class="panel-icon" data-toggle-panel>
            <i class="icon-chart-bar"></i>
        </span>
    </div>

    <div data-role="panel"  data-custom-panel data-display="push" data-position="right">
        <canvas class="resultsChart"></canvas>
    </div>


    <div data-role="content" class="wrapper">
        Поздравляем команду победителей!

        <div class="team-item team-item-<%=winner.id%>">
            <% team.forEach(function (playerItem, index) { %>
                <img src="https://graph.facebook.com/<%=playerItem.id%>/picture?type=square" /> <%=playerItem.name%> <br>
            <% }); %>
        </div>

    </div>
</script>

<audio src="http://lingualeo.com/sound/training/incorrect.mp3" id="audio_incorrect" />
<audio src="http://lingualeo.com/sound/training/correct.mp3" id="audio_correct" />
<audio src="http://lingualeo.com/sound/training/gong.mp3" id="audio_gong" />
<audio src="http://lingualeo.com/sound/training/show_result.mp3" id="audio_show_result" />

<script src="/js/lib/realplextor.js"></script>
<script src="/js/alias/chart.js"></script>
<script src="/js/lib/Chart.js"></script>

<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/jquery-mobile.js"></script>
<script src="/js/lib/templates.js"></script>
<script src="/js/lib/oop.js"></script>
<script src="/js/common.js"></script>
<script src="/js/alias/classes.js"></script>
<script src="/js/alias/alias.js"></script>
<script src="/js/facebook.js"></script>
<script src="/js/alias/channelHandlers.js"></script>

</body>
</html>
